body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('background.jpg');
    background-size: cover;  /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
}


header {
    background: #333;
    color: white;
    padding: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: #007bff;
    color: white;
    padding: 50px;
}
form {
    background-color: #333;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

.btn {
    background: #ff9800;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
